.table-input{
  th,td{
    vertical-align: middle;
  }
}
.form-modal{
  .form-group{
    margin-bottom:0px;
  }
}
.td-input{
  padding:0px !important;
  .form-control{
    border:none !important;
    border-radius:0 !important;
  }
  .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single{
    border:none !important;
    border-radius:0 !important;
  }
  .select2-container .select2-selection--single .select2-selection__rendered{
    text-overflow: inherit;
    white-space: normal;
    padding-right:40px;
  }
}